.venv/
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/
dist/
build/

.env
.env.*
*.pem

.streamlit/secrets.toml

downloaded_files/
__pycache__/

.DS_Store
*.swp
*.swo

pipfinding.lock
pipinstall.lock
driver_fixing.lock
pyautogui.lock
